<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GCI Leaders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="GCI Current Leaders">
    <meta property="og:description" content="Google Code-in {{year}} Current Leaders">
    <meta property="og:image" content="{{{rootURL}}}/images/logos/gcilogo.png">
    <link rel="stylesheet" href="{{assets.main-css}}">
    <style>.gitlab-corner-wrapper{overflow:hidden;width:100px;height:100px;position:absolute;top:0;right:0}.gitlab-corner{position:absolute;top:-16px;right:-50px;transform:rotate(45deg);background:#fff;border:#fff solid 44px;border-bottom:none;border-top:#fff solid 16px}.gitlab-corner svg{width:60px;height:60px;margin-bottom:-4px}.cls-r-1{fill:#dd1f26}.cls-r-2{fill:#f36e38}.cls-r-3{fill:#ff8016}.cls-r-4{fill:#009147}.cls-r-5{fill:#2e358e}.cls-r-6{fill:#672f8f}.gitlab-corner:hover .cls-r-1{animation:rC1 .6s}.gitlab-corner:hover .cls-r-2{animation:rC2 .6s}.gitlab-corner:hover .cls-r-3{animation:rC3 .6s}.gitlab-corner:hover .cls-r-4{animation:rC4 .6s}.gitlab-corner:hover .cls-r-5{animation:rC5 .6s}.gitlab-corner:hover .cls-r-6{animation:rC6 .6s}@keyframes rC1{15%{fill:#dd1f26}30%{fill:#f36e38}45%{fill:#ff8016}60%{fill:#009147}75%{fill:#2e358e}90%{fill:#672f8f}100%{fill:#dd1f26}}@keyframes rC2{15%{fill:#f36e38}30%{fill:#ff8016}45%{fill:#009147}60%{fill:#2e358e}75%{fill:#672f8f}90%{fill:#dd1f26}100%{fill:#f36e38}}@keyframes rC3{15%{fill:#ff8016}30%{fill:#009147}45%{fill:#2e358e}60%{fill:#672f8f}75%{fill:#dd1f26}90%{fill:#f36e38}100%{fill:#ff8016}}@keyframes rC4{15%{fill:#009147}30%{fill:#2e358e}45%{fill:#672f8f}60%{fill:#dd1f26}75%{fill:#f36e38}90%{fill:#ff8016}100%{fill:#009147}}@keyframes rC5{15%{fill:#2e358e}30%{fill:#672f8f}45%{fill:#dd1f26}60%{fill:#f36e38}75%{fill:#ff8016}90%{fill:#009147}100%{fill:#2e358e}}@keyframes rC6{15%{fill:#672f8f}30%{fill:#dd1f26}45%{fill:#f36e38}60%{fill:#ff8016}75%{fill:#009147}90%{fill:#2e358e}100%{fill:#672f8f}}</style>
  </head>
  <body>
    {{#DEPLOY_PREVIEW}}
      <div class="preview">
        This is a Deploy Preview of <a href="{{DEPLOY_PREVIEW_PR_URL}}">PR #{{DEPLOY_PREVIEW_PR_NUMBER}}</a>. See the production website <a href="{{URL}}">here</a>.
      </div>
    {{/DEPLOY_PREVIEW}}
    <div>
      <a href="http://codein.withgoogle.com">
        <img class="gci-logo" src="images/logos/gci.png" alt="Code-In logo">
      </a>
      <h1 data-i18n="page-title">Google Code-in {{year}} Current Leaders</h1>
    </div>
    <!-- GitLab Corners made by bryce (https://gitlab-corners.bryce.io/) -->
    <a href="https://gitlab.com/yuki_is_bored/gci-leaders" class="gitlab-corner" aria-label="View source on GitLab">
        <svg id="logo_art" data-name="logo art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559">
            <g id="g44"><path id="path46" class="cls-r-1" d="M461.17,301.83l-18.91-58.12L404.84,128.43a6.47,6.47,0,0,0-12.27,0L355.15,243.64H230.82L193.4,128.43a6.46,6.46,0,0,0-12.26,0L143.78,243.64l-18.91,58.19a12.88,12.88,0,0,0,4.66,14.39L293,435,456.44,316.22a12.9,12.9,0,0,0,4.73-14.39"/></g><g id="g48"><path id="path50" class="cls-r-3" d="M293,434.91h0l62.16-191.28H230.87L293,434.91Z"/></g><g id="g56"><path id="path58" class="cls-r-2" d="M293,434.91,230.82,243.63h-87L293,434.91Z"/></g><g id="g64"><path id="path66" class="cls-r-1" d="M143.75,243.69h0l-18.91,58.12a12.88,12.88,0,0,0,4.66,14.39L293,435,143.75,243.69Z"/></g><g id="g72"><path id="path74" class="cls-r-6" d="M143.78,243.69h87.11L193.4,128.49a6.47,6.47,0,0,0-12.27,0l-37.35,115.2Z"/></g><g id="g76"><path id="path78" class="cls-r-4" d="M293,434.91l62.16-191.28H442.3L293,434.91Z"/></g><g id="g80"><path id="path82" class="cls-r-5" d="M442.24,243.69h0l18.91,58.12a12.85,12.85,0,0,1-4.66,14.39L293,434.91l149.2-191.22Z"/></g><g id="g84"><path id="path86" class="cls-r-6" d="M442.28,243.69h-87.1l37.42-115.2a6.46,6.46,0,0,1,12.26,0l37.42,115.2Z"/></g>
        </svg>
    </a>
    <small id="time" data-time="{{datetime}}"><span data-i18n="last-updated">Last updated</span>: {{datetime}} <span id="ago"></span></small>
    <a href="feed.xml"><img class="feed" src="images/rss.png" alt="RSS feed" /></a>
    <div>
      <div class="progress-outer">
        <div class="progress-inner">
          <div class="progress-bar">
          </div>
        </div>
      </div>
      <span class="progress-text"><i id="progress" data-noclaims="{{noClaims}}" data-competitionopen="{{competitionOpen}}"></i></span>
    </div>
    <hr>
    <i data-i18n="order-info">
      The leading participants for each organization (and their GitHub accounts,
      if applicable) are listed randomly.
    </i>
    <div class="chooser">&#x1F310;&nbsp;<select id="lang-select"></select></div>
    <div class="orgs">
      {{#withLeader}}
        <div class="org">
          <div class="org-image">
            <a href="https://codein.withgoogle.com/organizations/{{slug}}">
              <img class="org-image" alt="{{name}} logo" src="https://{{image_url}}">
            </a>
          </div>
          <div class="org-info">
            <h3>
              <a href="https://codein.withgoogle.com/organizations/{{slug}}">
                {{name}}
              </a>
            </h3>
            <p><span data-i18n="tasks-completed">Tasks Completed</span>: {{completed_task_instance_count}}</p>
            {{#github}}
              <a href="https://github.com/{{github}}">
                <img
                  src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                  class="github"
                  alt="Find them on GitHub"
                />
              </a>
            {{/github}}
            {{#gitlab}}
              <a href="https://gitlab.com/{{gitlab}}">
                <img
                  src="images/logos/gitlab.png"
                  class="gitlab"
                  alt="Find them on GitLab"
                />
              </a>
            {{/gitlab}}
            {{#mailing_list}}
              <a href="{{mailing_list}}">
                <img src="images/mail.png" class="chat" alt="Join their mailing list" />
              </a>
            {{/mailing_list}}
            {{#chat}}
              <a href="{{chat.url}}">
                <img src="{{chat.image}}" class="chat" alt="Join their chat" />
              </a>
            {{/chat}}
            {{#twitter_url}}
              <a href="{{twitter_url}}">
                <img src="images/logos/twitter.png" class="chat" alt="Find them on Twitter" />
              </a>
            {{/twitter_url}}
            {{#gplus_url}}
              <a href="{{gplus_url}}">
                <img src="images/logos/gplus.png" class="chat" alt="Find them on Google+" />
              </a>
            {{/gplus_url}}
            {{#website_url}}
              <a href="{{website_url}}">
                <img src="images/logos/global.png" class="chat" alt="Visit their website" />
              </a>
            {{/website_url}}
            {{#wikipedia_urls.en}}
              <a href="{{wikipedia_urls.en}}">
                <img src="images/logos/wikipedia.png" class="chat" alt="Read about them on Wikipedia" />
              </a>
            {{/wikipedia_urls.en}}
            {{#wikidata_url}}
              <a href="{{wikidata_url}}">
                <img src="images/logos/wikidata.png" class="chat" alt="See them on Wikidata" />
              </a>
            {{/wikidata_url}}
            {{#stack_exchange}}
              <a href="{{stack_exchange.url}}">
                <img src="{{stack_exchange.image}}" class="chat" alt="Do Q&amp;A on Stack Exchange" />
              </a>
            {{/stack_exchange}}
            <div class="org-leaderboard">
              <ul>
                {{#leaders}}
                  <li>
                    {{#github_account}}
                      <a href="https://github.com/{{github_account}}">
                    {{/github_account}}
                    {{display_name}}
                    {{#github_account}}
                      </a>
                    {{/github_account}}
                  </li>
                {{/leaders}}
              </ul>
            </div>
          </div>
        </div>
      {{/withLeader}}
    </div>
    {{#noLeader.length}}
      <h3 data-i18n="orgs-no-listed">Organization(s) with no listed leaders</h3>
      <hr>
      <div class="orgs">
        {{#noLeader}}
        <div class="org">
          <div class="org-image">
            <a href="https://codein.withgoogle.com/organizations/{{slug}}">
              <img class="org-image" src="https://{{image_url}}" alt="{{name}} logo">
            </a>
          </div>
          <div class="org-info">
            <h3>
              <a href="https://codein.withgoogle.com/organizations/{{slug}}">
                {{name}}
              </a>
            </h3>
            <p><span data-i18n="tasks-completed">Tasks Completed</span>: {{completed_task_instance_count}}</p>
            {{#github}}
              <a href="https://github.com/{{github}}">
                <img
                  src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"
                  class="github"
                  alt="Find them on GitHub"
                />
              </a>
            {{/github}}
            {{#mailing_list}}
              <a href="{{mailing_list}}">
                <img src="images/mail.png" class="chat" alt="Join their mailing list" />
              </a>
            {{/mailing_list}}
            {{#chat}}
              <a href="{{chat.url}}">
                <img src="{{chat.image}}" class="chat" alt="Join their chat" />
              </a>
            {{/chat}}
            {{#twitter_url}}
              <a href="{{twitter_url}}">
                <img src="images/logos/twitter.png" class="chat" alt="Find them on Twitter" />
              </a>
            {{/twitter_url}}
            {{#gplus_url}}
              <a href="{{gplus_url}}">
                <img src="images/logos/gplus.png" class="chat" alt="Find them on Google+" />
              </a>
            {{/gplus_url}}
            {{#website_url}}
              <a href="{{website_url}}">
                <img src="images/logos/global.png" class="chat" alt="Visit their website" />
              </a>
            {{/website_url}}
            {{#wikipedia_urls.en}}
              <a href="{{wikipedia_urls.en}}">
                <img src="images/logos/wikipedia.png" class="chat" alt="Read about them on Wikipedia" />
              </a>
            {{/wikipedia_urls.en}}
            {{#wikidata_url}}
              <a href="{{wikidata_url}}">
                <img src="images/logos/wikidata.png" class="chat" alt="See them on Wikidata" />
              </a>
            {{/wikidata_url}}
            {{#stack_exchange}}
              <a href="{{stack_exchange.url}}">
                <img src="{{stack_exchange.image}}" class="chat" alt="Do Q&amp;A on Stack Exchange" />
              </a>
            {{/stack_exchange}}
          </div>
        </div>
        {{/noLeader}}
      </div>
    {{/noLeader.length}}
    <div class="twitter">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/googlecodein"
         data-widget-id="938830025809432577">
      </a>
    </div>
    <footer>
      <small data-i18n="gci-copyright">Google Code-in and the Google Code-in logo are trademarks of Google Inc.</small><br />
      <small><span data-i18n="gitlab-copyright-1">The GitLab logo is licensed under</span> <a href="https://gitlab.com/gitlab-com/gitlab-artwork/blob/master/LICENSE">CC BY-NC-SA 4.0</a> <span data-i18n="gitlab-copyright-2">by GitLab Inc.</span></small><br />
      <small><span data-i18n="built-by">Built by</span> <a href="https://coala.io/">coala</a>.</small><br />
      <small><span data-i18n="maintained-by">Maintained by</span> <a href="https://yukiisbo.red">yukiisbo.red</a>.</small>
    </footer>
    <script src="{{assets.main-js}}"></script>
  </body>
</html>
